<!DOCTYPE html>
html
  head
    link(rel='stylesheet', href='/styles.css')
    title Admin Dashboard
  body
    h1 Welcome #{user.name} to the Admin Area
    p Your username is: #{user.username}
    p Your roles are: #{user.roles.join(', ')}
    a(href='/login.html') Logout